section {
  background: pink;

  div {
    background: yellow;

    > h4 {
      background: orange;

      + p {
        text-decoration: underline;
      }
    }
  }

  &.bar {
    border: 3px dashed green;
  }
}
